.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 141px 10px 277px;
}

.title {
  font-size: 18px;
  letter-spacing: .4rem;
  text-align: center;
}

.counter {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, auto);
  width: 100%;
  max-width: 400px;
  padding: 46px 0;
  justify-content: center;
}

.countdown {
  margin: 10px 8px;
  &__title {
    display: block;
    margin-top: 15px;
    font-size: .45rem;
    letter-spacing: .2rem;
    text-align: center;
    opacity: .75;
  }
}

.card {
  width: 70px;
  height: 66px;
  border-radius: 5px;
  position: relative;
  line-height: 66px;
  background-color: $light-dark-color;
  box-shadow: 0px 5px 0px 0px $very-dark-color;
  &::before,
  &::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 3px);
    z-index: 1;
    background-color: $medium-dark-color;
  }
  &::before {
    left: -3px;
  }
  &::after {
    right: -3px;
  }
}

.digit {
  &::before,
  &::after {
    content: attr(data-digit);
    position: absolute;
    left: 0;
    right: 0;
    perspective: 125px;
    font-size: 2.1rem;
    font-weight: 700;
    text-align: center;
    color: $secondary-color;
    background-color: $light-dark-color;
    filter: brightness(85%);
  }
  &::before {
    border-radius: 5px 5px 0 0;
    top: 0;
    bottom: 50%;
  }
  &::after {
    border-top: 1px solid $medium-dark-color;
    border-radius: 0 0 5px 5px;
    top: 50%;
    line-height: 0;
    bottom: 0;
    filter: brightness(100%);
  }
}


.footer {
  display: flex;
  height: 200px;
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: url('../assets/images/pattern-hills.svg') no-repeat;
  background-position: -625px;
  background-size: 300% 100%;
}

.sn-container {
  display: flex;
  margin-top: 78px;
}

.sn-logo {
  margin: 0 16px;
  font-size: 1.65rem;
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}
