$primary-color: hsl(237, 18%, 59%);
$secondary-color: hsl(345, 95%, 68%);
$light-color: hsl(0, 0%, 100%);
$light-dark-color: hsl(236, 21%, 26%);
$medium-dark-color: hsl(235, 16%, 14%);
$very-dark-color: hsl(234, 17%, 12%);

$font: 'Red Hat Text', sans-serif;
$font-size: 14px;
